<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
	<!-- 
	All content, e.g. css, js scripts, images, etc. must be under the \public folder
	which is then accessed using the '/' path. 
	E.g. main.css lives in \public\css\main.css so to access it in the DOM the relative path is:
	/css/main.css 
	-->
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>{{title}}</title>
</head>
<body>
    {{{body}}}
</body>
</html>
