<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<div class="container" style="height: 30px;">
	<dl class="dl-horizontal">
		<dt>{{ date }}</dt>
		<dd><h3><p>{{ report }}</p></h3></dd>
	</dl>
</div>

<div class="container">
	<a class="btn btn-default center" style="margin-left: 105px;" href="/rasputin/random" role="button">Next</a>
</div>
